<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
        <img src="assets/img/my-profile.jpg" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Ahmed Fouad</h1>
    </a>

    <div class="social-links text-center">
        <a href="https://mo0zart.itch.io/" class="itch-io" target="_blank" rel="noopener noreferrer"><i
                class="bi bi-controller"></i></a>
        <a href="https://www.linkedin.com/in/ahmedfouaddesign/" class="linkedin" target="_blank"
            rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="index.html#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
            <li class="dropdown"><a href="index.html#portfolio"><i class="bi bi-images navicon"></i>
                    <span>Projects/Portfolio</span>
                    <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                    <li><a href="index.html#for-the-unmasked">For The Unmasked</a></li>
                    <li><a href="index.html#blades-of-babel">Blades Of Babel</a></li>
                    <li><a href="index.html#scool">Scool</a></li>
                    <li><a href="index.html#luna">Luna</a></li>
                </ul>
            </li>
            <li><a href="index.html#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        </ul>
    </nav>

</header>